@import url(http://fonts.googleapis.com/css?family=Roboto);
html{
  background: #131313;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #000!important;

    &.onloading{
      overflow: hidden;
    }
}
.menu{
    width: 100%;
    height: 7em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    overflow: hidden;
    transform: skewY(-10deg);
    background: #ffc600;
    transform-origin: 0 0;
    i{
        font-size: 2.5em;
        margin: 20px 0 0 20px;
        z-index: 100;

        &.hem{
          position: relative;
          left:0;
        }
    }
    a{
        color:#000;
        &:hover{
            color:#ff7be9;
        }
    }
}
.header{
    width: 100%;
    height: 31em;
    background-color: #ffc600;
    transform: skewY(-10deg);
    transform-origin: 0 0;
}
.nav-container-inner{
    position: relative;
    max-width: 96em;
    margin: 0 auto;
    transform: skewY(10deg);
    top: 15em;
    a{
        color:#000;
        &:hover{
            color:#ff7be9;
            text-decoration: none;
            font-weight: bolder;
        }
    }
}

.video{
    width: 100%;
    height: 36em;
    margin-top: -1px;
    //min-height: 30em;
    background-color: #ff7be9;
    transform: skewY(-10deg);
    transform-origin: 0 0;
    overflow: hidden;
    // margin-top: -379px;
    .vmask{
      position: absolute;
      top:0;
      width: 100%;
      height:100%;
      background-color: #ff7be9;
      z-index: 2;
    }
    video{
        // margin-top: -214px;
        width: 120%;
        transform: skewY(10deg);
        margin-top: -298px;
    }
}
.pin_ser_pic{
    position: absolute;
    top: 151px;
    left:0px;
    transform: skewY(10deg);
}
.pin_ser_pic2{
    position: absolute;
    top: 130px;
    right: 0px;
    transform: skewY(10deg);
}
.service{
    width: 100%;
    height: 40em;
    background-color: #303030;
    //transform: skewY(-10deg);
    //transform-origin: 0 0;
    background-image: url("../images/bgvi.svg");
    overflow: hidden;
}
.viedo_play{
    position: relative;
    max-width: 30em;
    margin: 0 auto;
    transform: skewY(10deg);
    text-align: center;
    top: 38%;
    cursor: pointer;
    z-index: 1;
}
.medser {
    width: 100%;
    //transform: skewY(-10deg);
    //transform-origin: 0 0;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
}
.chei_box {
    width: 50%;
    height: 26em;
    float: left;
    background-color: #ffdf6f;
}
.chei_box2 {
    width: 50%;
    height: 26em;
    float: left;
    background-color: #ffc600;
}
.chei_box3 {
    width: 50%;
    height: 26em;
    float: left;
    background-color: #ffd134;
}
.chei_box4 {
    width: 50%;
    height: 26em;
    float: left;
    background-color: #ffeba6;
}
.about{
    background-color: #ffc600;
    width: 100%;
    height: 50em;
    //transform: skewY(-10deg);
    //transform-origin: 0 0;
    .about_skin{
      position: relative;
      top:0;
    }
}
.about2{
    background-color: #ffc600;
    width: 100%;
    height: 60em;
    //transform: skewY(-10deg);
    //transform-origin: 0 0;
}
.pin_abo_pic{
    position: absolute;
    top: 253px;
    left: 0;
    transform: skewY(10deg);
}
.pin_abo_pic2{
    position: absolute;
    top: 130px;
    right: 0;
    transform: skewY(10deg);
}
.pin_abo_pic3{
    position: absolute;
    top: 500px;
    right: 285px;
    transform: skewY(10deg);
}
.pin_abo_pic_secon{
    position: absolute;
    bottom: 80px;
    left: 0;
    transform: skewY(10deg);
}
.pin_abo_pic2_secon{
    position: absolute;
    top: 130px;
    right: 0;
    transform: skewY(10deg);
}
.pin_abo_pic3_secon{
    position: absolute;
    top: 700px;
    right: 500px;
    transform: skewY(10deg);
}
.footer{
    width: 100%;
    height: 48em;
    margin-top: -372px;
    background-color: #131313;
    transform-origin: 0 0;
}
.nav-skewer{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.menu_btn{
    transform: skewY(10deg);
}
.left_btn{
    right: 0;
    text-align: left;
    a{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 0 1.375em;
        letter-spacing: .1em;
        line-height: 8.125em;
        font-size: 1.2em;
        color:#000;
        position: relative;
        top:0;
    }
}
.logo{
    display: block;
    margin: 0 auto;
    width: 120px;
    height: auto;
    z-index: 0;
    position: relative;
    top:0;
    transform: skewY(-5deg);
    img{
        width: 100%;
    }
}
.nav-col {
    position: absolute;
    top: 0;
    width: 43%;
    max-width: 39.5em;
    a{
      &.on{
        color:#ff7be9;
      }
    }

}
.right_btn{
    left: 0;
    text-align: right;
    a{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 0 1.375em;
        letter-spacing: .1em;
        line-height: 8.125em;
        color:#000;
        font-size: 1.2em;
        position: relative;
        top:0;
    }
}
.sermore-container-inner{
    position: relative;
    max-width: 30em;
    margin: 0 auto;
    transform: skewY(10deg);
    text-align: center;
    top: 34px;
}
.service-container-inner{
    position: relative;
    max-width: 30em;
    margin: 0 auto;
    transform: skewY(10deg);
    text-align: center;
    top: 100px;
}
.about-container-inner{
    position: relative;
    max-width: 68em;
    margin: 0 auto;
    transform: skewY(10deg);
    text-align: center;
    top:130px;
}
.footer-container-inner{
    position: relative;
    max-width: 68em;
    margin: 0 auto;
    text-align: center;
    top: 316px;
}
.line_lun{
    margin-bottom: 20px;
}
.nav-col_sermore{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 39.5em;
    img{
        width: 28%;
    }
    h2{
        color: #000;
        font-size: 2.2em;
        margin-bottom: 20px;
        font-weight: bolder;
    }
    .font{
        text-align: center;
        color:#000;
        a{
            color:#fff;
            &:hover{
                color:#fff;
            }
        }
    }
    .st_font{
        font-size: 1.3em;
        font-family: "Roboto";
        letter-spacing: .1em;
    }
}
.nav-col_ser{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 39.5em;
    h2{
        color: #fff;
        font-size: 3.2em;
        margin-bottom: 20px;
        letter-spacing: .2em;
        font-weight: lighter;
    }
    .font{
        text-align: center;
        color:#fff;
        a{
            color:#fff;
            &:hover{
                color:#fff;
            }
        }
    }
    .st_font{
        margin-bottom: 10px;
        font-size: 2em;
    }

    .seemore{
        text-decoration: underline;
        font-size: 1.2em;
    }
}
.nav-col_about{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 69em;
    h2{
        color: #000;
        font-size: 3.2em;
        margin-bottom: 20px;
        letter-spacing: .2em;
        font-weight: lighter;
    }
    h3{
        font-weight: bolder;
        font-size: 1.5em;
        margin-bottom: 30px;
        color: #000;
        i{
            font-size: .7em;
            vertical-align: middle;
        }
    }
    .about_font{
        width: 100%;
        line-height: 2;
        font-size: 1.3em;
        margin-bottom: 50px;
        color:#000;
    }
    .seemore{
        text-decoration: underline;
        font-size: 1.2em;
        color:#000;
    }

}
.nav-col_footer{
    max-width: 62.5em;
    margin: 0 auto;
    padding: 0 1.6875em;
    h2{
        color: #fff;
        font-size: 1.3em;
        margin-bottom: 20px;
        letter-spacing: .2em;
        font-weight: lighter;
    }
    .about_font{
        width: 100%;
        line-height: 2;
        font-size: 1.3em;
        margin-bottom: 50px;
        color:#000;
    }
    .seemore{
        text-decoration: underline;
        font-size: 1.2em;
        color:#000;
    }

}
.contact-us {
    text-align: left;
    h3{
        color:#fff;
    }
    p{
        color:#ffc600;
        a{
            color:#ffc600;
        }
    }
}

.location {
    text-align: right;
    h3{
        color:#fff;
    }
    p{
        color:#ffc600;
        a{
            color:#ffc600;
        }
    }
}

.footer-tab {
    float: left;
    width: 33.33%;
    h3{
        font-size: 1.4em;
        line-height: 1.42857143;
        letter-spacing: .3em;
    }
}
.follow-us {
    text-align: center;
    h3{
        color:#fff;
    }
    p{
        color:#fff;
        margin-top: 30px;

    }
}
.footer-share {
    margin: 0 auto;
    text-align: center;

}
.share_icon{
    i{
        // width:40px;
        // height:40px;
        margin:0 10px;
        padding:10px;
        border-radius: 99em;
        border: 2px solid #ffc600;
        font-size: 2em;
        color: #fff;
    }
}
.share_icon2{
    i{
        margin:0 10px;
        padding:10px;
        border-radius: 99em;
        border: 2px solid #000;
        font-size: 2em;
        color: #000;
    }
}
.center_aa{
    p{
        margin-top: 20px;
    }
}
@import url(http://fonts.googleapis.com/css?family=Roboto);
.portfolio_header{
    width: 100%;
    height: 4em;
    background-color: #ffc600;
    position: fixed;
    top:0;
    left:0;
    z-index: 2000;
}
.menu_second{
    float: left;
    margin: 12px 0 0 20px;
    i{
        font-size: 2em;
    }
    a{
        color: #000;
        &:hover{
            color:#ff7be9;
        }
    }
}
.menu_close, .menu_second_close{
    float: right;
    margin: 12px 20px 0  0;
    position: relative;
    right: 0;
    i{
        font-size: 2em;
        color: #000;

    }
    a{
        color: #000;
        &:hover{
            color:#ff7be9;
        }
    }
}
.showreel_video{
    width: 1200px;
    margin: 0 auto;
    video{
        width: 100%;
    }
    p{
        font-family: "Roboto";
        font-size: 1.2em;
        color:#000;
        margin-top: 10px;
    }
    h4{
        font-family: "Roboto";
        font-size: 1.3em;
        text-align: center;
        margin-top: 10px;
        color:#000;
    }
}
.show_wrapper{
    width: 100%;
    margin: 2em auto;
    h2{
        color: #fff;
        font-family: "Roboto";
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 30px;
    }
}
.nfc_continer{
    width: 1200px;
    margin: 0 auto;
}
.mov{
    width: 50%;
    float: left;
    margin-bottom: 50px;
    p{
        font-family: "Roboto";
        font-size: 1.2em;
        color:#000;
        margin: 10px 0;

    }
    h4{
        font-family: "Roboto";
        font-size: 1.3em;
        margin-left: 30px;
        color:#000;
    }
}
.left_vid{
    width: 100%;
    margin-bottom: 20px;
    video{
        width: 100%;
    }
}
.bgyellow{
    background-color: #ffd749!important;
    overflow:auto;
}
.head_midden{
    width: 92px;
    margin: 0 auto;
    position: relative;
    top: 0;
    a{
        font-family: "Roboto";
        color: #000;
        cursor: pointer;
    }
}
.margintop{
    margin-top: 20px;
    font-size: 1.2em;
    a{
        color:#000;
        &:hover{
            color:#ff7be9;
        }
    }
}
.head_left{
    float: left;
    text-align: right;
    i{
        font-size: 2em;
        margin-top: 15px;
    }
    a{
        color: #000;
    }
}
.head_right{
    float: right;
    text-align: left;
    i{
        font-size: 2em;
        margin-top: 15px;
    }

}
.producttopbn{
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        display: block;
    }
}
.scroll-btn{
    position: absolute;
    left: 50%;
    bottom: 0;
    cursor: pointer;
    width: 68px;
    height: 68px;
    margin-left: -34px;
    background-color: #ffc600;
    border-radius: 50px 50px 0 0;
}
.sprite{
    background-image:url("../images/down.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-top: 28px;
    margin-left: 22px;
}
.producst_yellowbg{
    width: 100%;
    background-color: #ffc600;
}
.nav_container{
    width: 1200px;
    margin:0 auto;
    text-align: center;
    padding: 70px 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    bottom: 0;
    h2{
        font-size: 1.5em;
        margin-bottom: 20px;
        color:#000;
    }
    .white{
        color:#fff;
    }
    p{
        padding: 0 1.375em;
        letter-spacing: .1em;
        line-height: 1.8em;
        font-size: 1em;
        color:#000;
        margin-bottom: 30px;
    }
    h4{
        font-size: 1.1em;
        letter-spacing: .1em;
        margin-bottom: 30px;
        color:#000;
    }
    h3{
        font-size: 1em;
        margin-bottom: 30px;
        letter-spacing: .1em;
        font-weight: bolder;
        color:#000;
            i{
                font-size: .7em;
                vertical-align: middle;
            }
    }
}
.product_graybg{
    width: 100%;
    background-color: #4a4a4a;
}
.appicon{
    width:191px;
    height: 191px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 40px;
    margin-bottom: 30px;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.picture_product{
    overflow: hidden;
    .item01{
        position: relative;
        width: 50%;
        float: left;
        height: 33%;
        img{
            width: 100%;
            display: block;
        }
    }
    .item02{
        width: 50%;
        float: left;
        height: 33%;
        video{
            width: 99.8%;
            display: block;
        }
    }
}
.protfolio_footer_bg{
    background-color: #131313;
    width: 100%;
}
.home_btn{
    position: relative;
    top:0;
    right:0;
    a{
        color:#000;
        &:hover{
            color:#000;
            text-decoration:  none;
        }
    }
}
.m_home{
    position:  absolute;
    top:10px;
    right:20px;
    z-index: 1000;
    color:#131313;
    font-size:1.5em;

}
.note_bg{
    background-color: #ffc600!important;
    position: absolute;
    top:0;
    left:0;
    z-index: 3000;
}
.nowt_midden{
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    position: relative;
    top: 0;
    a{
        color:#000;
        &:hover{
            color:#ff7be9;
            text-decoration: none;
        }
    }
}
.ew_btn{
    font-size: 2em;
    font-family: "Roboto";
    display: block;
    margin-bottom: 30px;
    line-height: 1.42857143;
    letter-spacing: .2em;
    cursor: pointer;
}
.black{
    color: #000;
}
.kob_font{
    width:70%;
    margin: 0 auto;
}
.point{
    position: absolute;
    bottom:0;
    right:0;
    z-index: 100;
    margin: 0 0 10px 10px;
    a{
        color:#000;
    }
    li{
        display: inline-block;
        font-size: 1.5em;
    }
    .big{
        width: 10px;
        height: 10px;
        background-color: #000;
        border: 5px solid #000;
        border-radius: 50px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .small{
        width: 7px;
        height: 7px;
        border: 3px solid #000;
        border-radius: 50px;
        margin-right: 10px;
        vertical-align: middle;
    }
}

a{
  cursor: pointer;
}


//角度10的話，50vw的對邊是8.8vw
.loading-container{
  width: 100vw;
  height:150vh;
  top:-8.8vw;
  position: fixed;
  background: #FFc600;
  //opacity: 0.5;
  z-index:3001;
  transform: skewY(-10deg);
  /*transform: skewY(-10deg);*/
}
.loading-block{
  width: 100vw;
  position: absolute;
  height: 50vh;
  //background: #ffc6aa;
  top:8.8vw;
  left:0;

  .loading-line{
    position: absolute;
    height: 2px;
    background: #131313;
    width:0vw;
    z-index:3002;
    bottom: 0;

  }
}
.mask-container{
  pointer-events: none;
  width: 100vw;
  height:150vh;
  top:-8.8vw;
  position: fixed;
  z-index:1990;
  transform: skewY(-10deg);
  .mask-block{
    width: 100vw;
    //background: #131313;
    position: absolute;
    height: calc( 50vh + 8.9vw);
    overflow: hidden;
    &.mtop{
      .fillblock{
        top: calc( 50vh + 8.9vw );
      }
    }
    &.mbot{
      bottom:8.9vw;
      .fillblock{
        bottom: calc( 50vh + 8.9vw );
      }
    }

    .fillblock{
      width: 100vw;
      background: #131313;
      height: calc( 50vh + 8.9vw);
      position: absolute;

    }
  }
}

.fullpage{
  width: 100vw;
  height:100vh;
  position: fixed;
}

.content-container{
  margin-top: -1px;
  &.gohide{
    overflow: hidden;
  }
}

.c_index,.c_about,.c_service{
  transform: skewY(-10deg);
  transform-origin: 0 0;
  position: relative;
  top:0;
}

.c_showreel{
  position: relative;
  top:0;
  z-index: 1999;
}
