$bg_file:         "/images/frame/full.png?update=201511031620";
$bg_file_hpd:     "/images/frame/full-2.png?update=201511031620";

$benefit_bg_file:         "/images/frame/benefits.png?update=201510051558";
$benefit_bg_file_hpd:     "/images/frame/benefits-2.png?update=201510051558";

$vip_icon_bg_file:         "/images/frame/vip-icon.png?update=201406241430";
$vip_icon_bg_file_hpd:     "/images/frame/vip-icon-2.png?update=201406241430";

$benefit_channel_bg_file:         "/images/frame/benefit-channel.png?update=201411121645";
$benefit_channel_bg_file_hpd:     "/images/frame/benefit-channel-2.png?update=201411121645";
